<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OpenHardwareMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <OpenHardwareMonitor.Properties.Settings>
      <setting name="InfluxUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="InfluxDatabase" serializeAs="String">
        <value />
      </setting>
      <setting name="TemplatePath" serializeAs="String">
        <value />
      </setting>
      <setting name="InfluxEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InfluxInterval" serializeAs="String">
        <value>00:00:10</value>
      </setting>
      <setting name="InfluxTagKeys" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>host</string>
            <string>app</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="InfluxTagValues" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>{{machineName}}</string>
            <string>{{projectId}}</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="InfluxUser" serializeAs="String">
        <value />
      </setting>
      <setting name="InfluxPass" serializeAs="String">
        <value />
      </setting>
    </OpenHardwareMonitor.Properties.Settings>
  </userSettings>
</configuration>